

.bacColor{
    background-color: #FFFFFF;
    width: 1150px;
    height: 690px;
    margin: 100px 290px;

}
.bacColor > ul {
    padding: 0;
    margin: 0;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    /*margin-top: 50px;*/
    /*float: left;*/
    padding: 2rem 0;
    display: flex;
    align-items: center;
    border-top: 1px solid #f1f1f1;
    list-style: none;

}
.spanbuju{
        font-size: 2.6rem;
    color: #333;
    width: 10rem;
}

h1{
    margin: .67em 0;
}

.centerbuju{
    float: left;
}

.infoDiv{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-left: 80px;
}

.input{
flex: 1;
    display: inline-block;
    border: none;
    outline: none;
    color: #909090;
    font-size: 2.3rem;
}

a, button, input {
    margin: initial;
}

button, input {
    overflow: visible;
}
button, input, select, textarea {
    font: inherit;}


.btn{
        background-color: transparent;
    color: #007fff;
    padding: 0;
    white-space: nowrap;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2px;
    border: none;
    outline: none;
    transition: background-color .3s,color .3s;
    cursor: pointer;
    font-size: 2.8rem;
}

.icon{
        width: 35px;
    border-style: none;
}
.shou{
    list-style: circle;
        margin-left: 75px;
}

.save{
        margin-left: 75px;
}