<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<style type="text/css"></style>
</head>
<body>
	<form action="./1.php" method="post" name="reg">
		用户名: <input type="text" name="uname" value="张三风">
		<br>
		密码: <input type="password" name="upwd" value="123456">
		<br>
		性别  <input type="radio" name="sex" value="boy">男
		      <input type="radio" name="sex" checked value="girl">女
		<br>
		城市  <select name="city">
				<option value="bj">北京</option>
				<option selected value="sh">上海</option>
				<option value="gz">广州</option>
			 </select>
		<br>
		爱好   <input type="checkbox" name="aihao" value="read">阅读
		       <input type="checkbox" name="aihao" checked value="music">音乐
		       <input type="checkbox" name="aihao" checked value="game">游戏
		       <input type="checkbox" name="aihao" value="sport">运动
		<br>
		<input type="submit" name="">
	</form>

	<script type="text/javascript">
		document.reg.onsubmit = function(){
			let str = '账号:' + document.reg.uname.value + '\n';
			str  += '密码:' + document.reg.upwd.value + '\n';
			str  += '性别:' + document.reg.sex.value  + '\n';
			str  += '城市:' + document.reg.city.value + '\n';

			let aihao = [];
			for(let item of document.reg.aihao){
				if (item.checked) {
					aihao.push(item.value)
				}
			}
			// console.log(aihao)
			str += '爱好:' + aihao.join('-');
			alert(str);

			 document.reg.uname.value = '李小龙';
			 document.reg.upwd.value = '1';
			 document.reg.sex.value = 'boy';
			 document.reg.city.value = 'bj';

			 for(let item of document.reg.aihao){
			 	if (item.value =='sport') {
			 		item.checked = true
			 	}
			 }

			return false
		}
	</script>
</body>
</html>