{% extends 'ttl_user/shou.html' %}
{% block title %} shouModify {% endblock %}
{% block formtitle %}编辑地址{% endblock %}

{% block showshou %}
        <tr name="{{ info.flag }}">
            <td>{{ info.addr }}</td>
            <td>{{ info.shouname }}</td>
            <td>{{ info.tel }}</td>
            <td id="{{ info.flag }}">
                <a id="del">删除 |</a>
                <a id="modify"> 修改</a>
            </td>
        </tr>
{% endblock %}

{% block ajx %}
    var addr =  $('#idinfo');
    var name =  $('#idname');
    var tel =  $('#idtel');
    def()
    function def(){
        addr.attr("value",'{{ info.addr }}');
        name.attr("value",'{{ info.shouname }}');
        tel.attr("value",'{{ info.tel }}');
        }

    subm();
    function subm(){
        $('#submitform').on('submit', function(){
            event.preventDefault() //阻止form表单默认提交
            var shouaddr = addr.val();
            var shouname = name.val();
            var shoutel = tel.val();
            var modifyB = $("#modify");
            var mi = modifyB.parent().attr('id');
            var dat = {addr:shouaddr,shouname:shouname,tel:shoutel,mi:mi};
                $.ajax({
                url:'/user/shou/modify/',
                type:"POST",
                data:dat,
                success:function(data){
                    if(data){
                        alert("修改成功")
                        console.log(data);
                        window.location.href = data.REDIRECT
                    }
                },

            })
        })
    }


{% endblock %}





