
{% extends 'index.html' %}

{% block cs %}<link rel="stylesheet" type="text/css" href="/static/css/shou.css">{% endblock %}

{% block title %}shou{% endblock %}

{% block content %}



    <div class="panel panel-default" style="background-color: #f5f5f5">
  <!-- Default panel contents -->

  <div class="panel-heading" >{% block formtitle%}新增地址{% endblock %}</div>
    <form id="submitform" action="" method="">
        {% csrf_token %}
        <label class="shoubuju" >地址信息</label>
        <input id="idinfo" class="shouinput" type="text" name="addr" required="required" placeholder="请输入详细地址">
        <label class="shoubuju">收件人姓名</label>
        <input id="idname" class="shouinput" type="text" name="shouname" required="required" placeholder="长度不得超过25个字符">
        <label class="shoubuju">联系方式</label>
        <input id="idtel" class="shouinput" type="tel" name="tel" required="required">
        <button id="submit" class="shoubuju shoubtn" type="submit" value="保存" style="background-color: #007fff">保存</button>
    </form>
    </div>

<div class="panel panel-default" style="margin-top: -287px;">
  <!-- Default panel contents -->
  <div class="panel-heading">收货地址</div>
  <!-- Table -->
  <table class="table tabShou">
        <tr>
            <th>收货人</th>
            <th>联系方式</th>
            <th>收货地址</th>
            <th>编辑方式</th>
        </tr>
    {% block showshou %}
    {% for foo in info %}
        <tr name="{{ foo.flag }}">
            <td>{{ foo.addr }}</td>
            <td>{{ foo.shouname }}</td>
            <td>{{ foo.tel }}</td>
            <td id="{{ foo.flag }}">
                <a id="del">删除 |</a>
                <a id="modify"> 修改</a>
            </td>
        </tr>
    {% endfor %}
        {% endblock %}

  </table>
</div>

{% endblock %}

{% block scriptFlag %}
    var sn = {isHome:false};
{% endblock %}

{% block ajx %}

    var delA = $('#del');
    var modifyB = $("#modify");
    var de = delA.parent().attr('id');
    console.log(typeof de);
    subm();
    dele();
    putbac();
    /*
    function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
{#                xhr.setRequestHeader("X-CSRFToken", {% csrf_token %};#}
            }
        }
    });*/

    function subm(){
        $('#submitform').on('submit', function(){
            event.preventDefault() //阻止form表单默认提交
            var shouaddr = $("#idinfo").val();
            var shouname = $("#idname").val();
            var shoutel = $("#idtel").val();
            var dat = {addr:shouaddr,shouname:shouname,tel:shoutel};
            $.ajax({
                url:'/user/shou/',
                type:"POST",
                data:dat,
                success:function(data){
                    if(data){
                        console.log(data);
                        console.log(data.info);
                        console.log(data.info.flag);
                        console.log(typeof data.info.flag);
                        console.log(typeof `${data.info.flag}`);
                        var val = data.info;
    totalData = `<tr name="${val.flag}"><td>${val.addr}</td><td>${val.shouname}</td><td>${val.tel}</td><td id="${val.flag}"><a id="del">删除 |</a><a id="modify"> 修改</a></td></tr>`
                        $("table").append(totalData);
                        document.getElementById("submitform").reset();
                    }
                },

            })
        })
    }

    function dele(){
        delA.click(function(){
            $.ajax({
                url:'/user/shou/',
                type:"delete",
                data:{di:de},
                success:function(data){
                    if(data){
                        $(`tr[name="${de}"]`).remove();
                    }
                },

            })
        })

    }

    function putbac(){
        var mi = modifyB.parent().attr('id');
        modifyB.attr("href","/user/shou/modify?"+`mi=${mi}`)
    }

{% endblock %}
/*    var addr = $('idinfo').val();
    var shouname = $('idname').val();
    var tel = $('idtel').val();
       $("#submit").on('click',function(){
        $.ajax({
        url:'/user/shou/',
        type:"post",
        data:{addr:addr,shouname:shouname,tel:tel},
        success:function(data){
            if (data){
                alert("---------");
                }
            },

            clearForm: false,//禁止清楚表单
            resetForm: false //禁止重置表单
        })
    });

*/










