<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <title>{% block title %}Index{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">

 <script type="text/javascript" src="http://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>



<body style="background-color:rgb(244,244,244)">

    <div id="top" class="ng-toolbar">
            <div class="ng-toolbar-con wrapper">
                <div class="ng-toolbar-left">
                    <a href="/index/" class="ng-bar-node ng-bar-node-backhome" id="ng-bar-node-backhome" name="public0_none_gongju_fanhui" sap-modid="pyiw5">
                        <i class="ng-iconfont ng-backhome"></i>
                        <span class="glyphicon glyphicon-home" aria-hidden="true">  返回首页</span>
                    </a>

                </div>
                <div class="ng-toolbar-right">
                        <a id="userExists" class="ng-bar-node-backhome,ng-bar-node">
                            <i class="ng-iconfont ng-backhome"></i>
                            <span>&nbsp</span>
                        </a>
                        <a id="goRegis" class="ng-bar-node ng-bar-node-backhome" href="/user/register/">
                            <i class="ng-iconfont ng-backhome"></i>
                            <span></span>
                        </a>
                        <a id="goShopCart" class="ng-bar-node ng-bar-node-backhome">
                            <i class="ng-iconfont ng-backhome"></i>
                            <span></span>
                        </a>
                        <a id="goMyOrder" class="ng-bar-node ng-bar-node-backhome">
                            <i class="ng-iconfont ng-backhome"></i>
                            <span></span>
                        </a>

                </div>
            </div>
        </div>

    <div style="width: 100%;background-color: white">
       <div id="logo">
       <a href="/index/">
           <img id="logoimg" src="/static/image/logo4.png">
        </a>
   </div>

        <div id="search">
        <form method="get" onsubmit="">
            <div class="searchStyle">
                <i class="glyphicon glyphicon-search" style="float: left;margin:10px">  </i>
                <input id="searchKeywords" type="text" value="手机电脑至高24期免息" onfocus="if (value =='手机电脑至高24期免息'){value =''}" onblur="if (value ==''){value='手机电脑至高24期免息'}" autocomplete="off"/>
            </div>
            <input id="searchSubmit" type="submit" value="搜索">
            <div id="tag">
                <a target="" href="">手机 |&nbsp</a>
                <a target="" href="" style=""> 烟灶 | &nbsp</a>
                <a target="" href=""> 烤箱 | &nbsp</a>
                <a target="" href=""> 电视 | &nbsp</a>
                <a target="" href="" style="color: red"> 笔记本 | &nbsp</a>
                <a target="" href=""> 大米 | &nbsp</a>
                <a target="" href=""> 冰箱 | &nbsp</a>
                <a target="" href=""> 茅台 | &nbsp</a>
                <a target="" href=""> 热水器</a>
            </div>
        </form>
    </div>
    </div>


   <div id="parentDiv" style="background-color: rgb(244,244,244);width: 100%">
    {% block content %}
        <div id="hengFu">
            <div class="subHengFu">
                <h2>主题市场</h2>
                <ul class="hengfuUl">
                    <li><a href="">天猫</a></li>
                    <li><a href="">聚划算</a></li>
                    <li><a href="">天猫超市</a></li>
                </ul>
                <ul class="hengfuUl">
                    <li><a href="">淘抢购</a></li>
                    <li><a href="">电器城</a></li>
                    <li><a href="">司法拍卖</a></li>
                    <li><a href="">淘乐心选</a></li>
                    <li><a href="">兴农脱贫</a></li>
                </ul>
                <ul class="hengfuUl">
                    <li><a href="">飞猪旅行</a></li>
                    <li><a href="">智能生活</a></li>
                    <li><a href="">苏宁易购</a></li>
                </ul>
            </div>
        </div>
        <div id="option" class="buju subDiv"></div>
        <div class="container buju" id="abc" style="">
        <div class="carousel slide" id="carousel-example-generic" data-ride="carousel"  data-interval="3000">
            <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div id="imgconfi" class="carousel-inner">
                    <div class="item">
                        <img src="/static/image/slide2.webp" >
                    </div>
                    <div class="item active" >
                        <img src="/static/image/slide1.jpg" >
                    </div>
                    <div class="item">
                        <img src="/static/image/slide3.jpg" >
                    </div>
            </div>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
        </div>
        </div>
   {% endblock %}
        </div>



    <script type="text/javascript">
        var sn =
            {
                isHome:true
            };
        var user = '{{ name }}'||null;
        var lst = ["good","bad"];
        if(!sn.isHome) {
            {#document.getElementById('ng-bar-node-backhome').style.display = block}#}
            $('#ng-bar-node-backhome').css('display','block')
        }
        $().ready(function () {
            var userEsis = $("#userExists span:first");
            var userEsisHref = $("#userExists");
            var regis = $("#goRegis");
            var shopCart = $('#goShopCart');
            var myOrder = $('#goMyOrder');
            if(user){
                userEsis.html(user);
                userEsis.css("color","red");
                userEsisHref.attr("href","/user/info/");
            }else{
                userEsis.html("请登录");
                userEsis.css("color","red");
                regis.html("注册");
                shopCart.html("购物车");
                myOrder.html("我的订单");
                regis.attr('href',"/user/register");
                userEsisHref.attr('href',"/user/login");
                shopCart.attr('href','/user/login/');
                myOrder.attr('href','/user/login/');
            }
        });

        {% block script %}
        {% endblock %}

    </script>
</body>
</html>